body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    height: 150vh;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.row:nth-child(even) {
    background-color: rgb(20, 183, 145);
    color: white;
}
.row:nth-child(odd) {
    background-color: white;
    color: black;
}
.text {
    flex: 1;
    padding: 20px;
}
.image {
    flex: 1;
    padding: 20px;
    text-align: center;
}
.image img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.row p {
    font-size: 1.7em;
    font-style: normal;
    font-family: Nunito, sans serif;
}