body {
    font-family: 'Spectral', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #2f2f2f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
.section-title-courses {
  margin-top: 0.5em;
  font-size:5em;
  font-family: "Spectral", serif;
  color: rgb(20, 183, 145);
  padding: 0.8em;
}
#courses {
    padding: 1.5em;
    
}
.course-list2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    justify-content: center;
    max-width: 1200px; 
    margin: auto;
}
.course-item {
    background-color: rgba(238, 167, 210, 0.1);
    border: 2px solid #14b791;
    border-radius: 10px;
    padding: 0 25px 15px 15px;
    text-align: center;
    transition: transform 0.3s ease;
    max-width: 350px;
    margin: 2em;
    overflow: hidden; 
  }
.course-item:hover {
    transform: scale(1.05);
}
.course-item img {
    width: 90%;
    max-height: 110px;
    object-fit: cover;
    display: block;
    vertical-align: top;
    border-radius: 0;
    margin-top: 0;
  }
.course-item h3 {
    color: #14b791;
    font-size: 1.5em;
    margin: 1em 0;
}
.course-item p {
    font-size: 1em;
    color: #555;
}
.btn-courses{
    display: inline-block;
    margin-top: 1.5em;
    margin-bottom: 5em;
    padding: 10px 20px;
    background-color: rgb(20, 183, 145);
    color: white;
    text-decoration: none;
    border: 2px solid rgb(20, 183, 145);
    border-radius: 56px 3px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-family: "Nunito", serif;
    width: 180px;
    text-align: center;
    letter-spacing: 1px;
}
.course-item .btn-courses:hover {
    background-color: rgb(20, 183, 145, 0.1);
    color:rgb(20, 183, 145);
    border: 2px solid rgb(20, 183, 145);
}
.trial-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    padding: 0 2em; 
    flex-wrap: wrap;
    gap: 1em;
  }

  .trial-text {
    font-size: 4em;
    color: white;
    margin-left: 0.5em;
    font-family: "Nunito", sans-serif;
    letter-spacing: 5px;
  }
  .btn-schedule {
    background-color: #14b791;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
    margin-right: 3em; 
  }
  .btn-schedule:hover {
    background-color: #11a67b;
  }