body {
    font-family: 'Spectral', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #2f2f2f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}



#courses {
    padding: 2em;
}

.section-title-courses {
    font-size: 2.5em;
    text-align: center;
    color: #14b791;
    margin-bottom: 2em;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    font-family: "Spectral", serif;
    max-width: 600px; 
    margin: auto;
}

.course-item {
    background-color: rgba(238, 167, 210, 0.1);
    border: 2px solid #14b791;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    max-width: 350px;
    margin: 0 auto;
}

.course-item:hover {
    transform: scale(1.05);
}

.course-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 150px;
    object-fit: cover;
}

.course-item h3 {
    color: #14b791;
    font-size: 1.2em;
    margin: 1em 0;
}

.course-item p {
    font-size: 0.9em;
    color: #555;
}

.course-item .btn {
    display: inline-block;
    background-color: #14b791;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1em;
}

.course-item .btn:hover {
    background-color: #11a67b;
}

.trial-container {
    text-align: center;
    margin-top: 3em;
}

.free-trial-class h4 {
    font-size: 1.5em;
    color: #14b791;
}

.btn-schedule {
    display: inline-block;
    background-color: #14b791;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1em;
}

.btn-schedule:hover {
    background-color: #11a67b;
}

