.section-title {
    font-size:3.5em;
}
.course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}

.course-item {
    background: rgb(20, 183, 145, 0.1);
    color: black;
    border: 3px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 40px;
    font-size: 1.5em;
    aspect-ratio: 1; 
}

@media (max-width: 900px) {
    .course-list {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .course-list {
        grid-template-columns: 1fr; 
    }
}
