.spectral-extralight {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
  }
  .spectral-light {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
  }

  .spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
  }

  .spectral-medium {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
  }

  .spectral-semibold {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
  }

  .spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
  }

  .spectral-extrabold {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal;
  }
  .spectral-extralight-italic {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: italic;
  }
  .spectral-light-italic {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: italic;
  }
  .spectral-regular-italic {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: italic;
  }
  .spectral-medium-italic {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
  }
  .spectral-semibold-italic {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: italic;
  }
  .spectral-bold-italic {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
  }
  .spectral-extrabold-italic {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: italic;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: "Spectral", serif;
    background-color: #ffffff;
    color: #2f2f2f;
    font-size: 15px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(20, 183, 145, 0.4);
    backdrop-filter: blur(10px);
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo-nav {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 90px;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0;
    margin: 0;
    font-family: "Nunito", serif;
}
.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Nunito", serif;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}
.navbar ul li a:hover,
.navbar ul li a.active {
    color: whitesmoke;
    font-weight: bolder;
    background-color: rgb(121, 192, 176);
}
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
}
.language-selector {
    position: relative;
    display: flex;
    align-items: center;
}
.language-selector .dropdown {
    position: relative;
}
.language-selector .dropdown-toggle {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    background-color: rgba(121, 192, 176, 0.5);
    border-radius: 15%;
}
.language-selector .dropdown-toggle img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.language-selector .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(121, 192, 176, 0.9);
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    z-index: 1000;
    font-family: "Nunito", serif;
}
.language-selector .dropdown-menu a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #2f2f2f;
    font-size: 16px;
}
.language-selector .dropdown-menu a:hover {
    background-color: rgb(121, 192, 176);
}
.language-selector .dropdown:hover .dropdown-menu {
    display: block;
}
.language-selector .dropdown-menu img {
    margin-right: 10px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    
}
.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 3em;
}
.logo-hero {
    width: 600px;
    height: 600px;
    margin-bottom: -190px;
    margin-top: -170px;
    color: #ffffff;
}
.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    font-family: "Spectral", serif;
    margin-top: 3em;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.2);;
}
.subtitle {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    color:#333;
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 2px;    
}
.hero-btn {
    display: inline-block;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    color:  white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 56px 3px;
    font-size: 22px;
    font-weight:bold;
    transition: all 0.3s ease-in-out;
    font-family: "Nunito", serif;
    width: 300px;
    text-align: center;
}
.hero-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color:#333;
}

.section-title-home {
    text-align: left;
    font-size: 6em;
    padding: 0;
    margin-top:30px;
    margin-bottom: 60px;
    font-family:  "Spectral", serif;
    color: #333;
    background-color: rgb(20, 183, 145, 0.4);
}
.section-title-courses {
    margin-top: 0.5em;
    font-size:3em;
    font-family: "Spectral", serif;
    color: rgb(20, 183, 145);
    padding: 1em;
}
.course-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    margin-bottom: 2em;
}
.course-home {
    background: rgba(0, 200, 153, 0.1);
    color: #333;
    border: 3px solid rgb(20, 183, 145);
    border-radius: 20px;
    width: 80%;
    aspect-ratio: 1; 
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 20px;
    font-size: 1em;
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.course-home img {
    max-width: 70%; 
    height: auto;
    padding: 5px;
    border-radius: 10px;
}
.course-home h3 {
    font-family: "Nunito", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(20, 183, 145);
    margin-bottom: 10px;
}
.course-home p {
    font-size: 1em;
    padding: 0 10px;
}
.course-home .btn {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 20px 40px;
    background-color: rgb(20, 183, 145);
    color: white;
    text-decoration: none;
    border: 2px solid rgb(20, 183, 145);
    border-radius: 56px 3px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-family: "Nunito", serif;
    width: 200px;
    text-align: center;
}

.course-home .btn:hover {
    background-color: rgba(20, 183, 145, 0.4);
    color: #333;
    transform: scale(1.05);
}

.course-home img {
    width: 80%;
    height: 200px; 
    object-fit: contain;
}

.course-item {
    background: rgba(0, 200, 153, 0.1);
    color: #333;
    border: 3px solid rgb(20, 183, 145);
    border-radius: 36px;
    width: 50%;
    aspect-ratio: 1; 
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-family: "Nunito", serif;
}

h3 {
    font-family: "Nunito", serif;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
    color: rgb(20, 183, 145);
}

.course-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    font-family: "Spectral", serif;
    max-width: 600px; 
    margin: auto;
}


.course-item {
    background: rgba(0, 200, 153, 0.1);
    color: #333;
    border: 3px solid rgb(20, 183, 145);
    border-radius: 36px;
    width: 100%;
    aspect-ratio: 1;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 5px;
    font-size: 1em;
    font-family: "Nunito", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.course-item svg {
    width: 30px; 
    height: auto;
    margin-bottom: 1em; 
}   

h3 {
    font-family: "Nunito", serif;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
    color: rgb(20, 183, 145);
}

.course-item .btn {
    display: inline-block;
    margin: 10px 0;
    padding: 20px 40px;
    background-color: rgb(20, 183, 145);
    color: white;
    text-decoration: none;
    border-radius: 56px 2px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2em;
    font-family: "Nunito", serif;
}

.course-item:hover {
    background-color: rgba(255, 233, 251, 0.4);
    transform: scale(1.1);
}

.course-item .btn:hover {
    background-color: rgba(20, 183, 145, 0.2);
    border: 2px solid rgb(20, 183, 145);
    color: rgb(177, 177, 177);
    transform: scale(1.1);
}

.trial-container {
    display: flex;
    justify-content: last baseline;
    align-items: center;
    flex-wrap: wrap; 
    gap: 7em;
    padding: 1.5em;
    margin-bottom: 4em;
    background-color: rgb(20, 183, 145);
  }
  
  .free-trial-class h4 {
    font-size: 3em;
    font-family: Nunito, serif;
    color: white;
    margin: 0;
  }
  
  .btn-schedule {
    padding: 15px 30px;
    background-color: rgb(20, 183, 145);
    color: white;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 56px 3px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Nunito", serif;
    backdrop-filter: blur(4px);
    transition: all 0.3s ease-in-out;
  }

  .btn-schedule:hover {
    background-color: rgba(20, 183, 145, 0.2);
    color: #333;
  }
  
footer {
    background: rgb(121, 192, 176);
    padding: 6px;
    display: flex;
    justify-content: flex-start;
    font-size: 2em;
}

.footer-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.social-icons {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
}

.social-icons img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
    filter: invert(1);
}

.social-icons img:hover {
    transform: scale(1.2);
}

.right-col {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    flex-grow: 1;
    width: 100%;
    justify-content: flex-end;
    gap: 20px; 
}

.logo-footer {
    font-size: 1.2em;
    font-family: "Spectral", serif;
    color: white;
    text-align: left;
    margin-bottom: 0;
    order: -1;
}

.logo-footer img {
    max-width: 250px; 
    height: auto;
}

.subscribe {
    display: flex;
    gap: 15px;
    font-size: 14px;
    margin-top: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.subscribe input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    min-width: 250px;
    font-size: 14px;
    width: 200px;
}

.subscribe button {
    background: rgb(20, 183, 145);
    color: white;
    padding: 15px 30px;
    border-radius: 56px 2px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid white;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
}

.subscribe button:hover {
    background: rgb(20, 183, 145, 0.2);
    color: white;
}



@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(20, 183, 145, 0.9);
        padding: 10px 0;
    }
    .navbar ul.active {
        display: flex;
    }
    .navbar ul li {
        text-align: center;
        padding: 10px 0;
    }
    .hamburger {
        display: flex;
    }
}